h1
{
    color: darkorchid;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    
}
h2
{
    color:brown;
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
h3
{
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;

}
button
{
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
h4
{
    color:rgb(78, 14, 78);
    font-family: 'Poppins', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    

}
p
{
    color:black; 
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
img
{

border: 5px solid rgb(222, 228, 148);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
ol
{

font-family: 'Inria Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Protest Strike', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;

}